.home-header.page-header{
    height: 800px;
}


.header-col-sec { 
    height: 100px;
}

.header-col-sec-1 {
    background-color :#EC7639; 
}

.header-col-sec-2 {
    background-color :#DD4A66; 
}

.header-col-sec-3 {
    background-color :#D5337C; 
}

.logo-brand{
    width: 200px !important;
    position: absolute !important;
    top: 0px !important;
}

.nav-item .nav-link{
    font-size: 30px;
    color: #fff !important;
}

.nav-item .nav-link.active{
    border-bottom: 3px solid #EC7639 !important; 
}

.hr-short {
    height: 20px;
    line-height: 20px;
    margin: 30px 0;
    float: none;
}

.hr {
    clear: both;
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    position: relative;
    margin: 30px 0;
    float: left;
}

.hr-inner {
    background-color: grey;
}

.hr-short .hr-inner {
    width: 32%;
    left: 50%;
    margin-left: -16%;
}

.hr-short .hr-inner-style {
    border-radius: 20px;
    height: 9px;
    width: 9px;
    border-width: 2px;
    border-style: solid;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
}
 

.hr-short.hr-center{
    border-top: 1px solid #EFF3F9;
}

.max-h-150 {
    height: 150px !important;
}

.header-col-sec-small{
    height: 20px !important;
}

.page-header-small{
    height:200px;
}